.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2em;

}

.form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.field-error {
  border: 1px solid red;
}
